body{
	width: 100%;
}
.head{
	background-color: #225260;
	height: 50px;
	width: 95%;
	margin-left: 30px;	
}
.head h1{
	font-size: 30px;
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height: 50px;
	align-self: right;
	padding-left: 60px;
}
.head a{
	color: white;
}
.head a:hover{
	color: green;
}
.head i{
	font-size: 25px;
	line-height: 50px;
}
.head span{
	font-size: 14px;
	color: red;
}
.noticeboard{
	width: 100%;
	height: 600px;
	padding-left: 30px;
	overflow: auto;
}
.tableStyle tr{
	line-height: 50px;
}
.tableStyle td{
	font-size: 20px;
	color: green;
}
.tableStyle td:hover{
	background-color: #25b999;
}
.tableStyle td a{
	color: black;
	text-decoration: none;
}
.datadisplay table{
	margin-top: 30px;
	font-family: arial, sans-serif;
  	border-collapse: collapse;
  	width: 100%;
}
.datadisplay  td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.datadisplay tr:nth-child(even) {
  background-color: #dddddd;
}
.adminAbout h1{
	font-size: 20px;
}
.adminAbout{
	padding-top: 30px;
	padding-left: 50px;
}
.createStyle{
	padding-top: 30px;
	padding-left: 60px;
}
.createStyle h1{
	color: red;
	font-size: 25px;
	padding: 30px;
}